Ebben a laborban pandák segítségével fedezheti fel a Világbank gazdasági, politikai és társadalmi mutatóira vonatkozó adatait a világ országaira vonatkozóan. Az adatok a Kaggle-től származnak.

A Világbank adatai számos különböző kategóriába sorolhatók, többek között:

     Gazdaság: Ez a kategória a GDP-re, a népességre, az inflációra és a munkanélküliségre vonatkozó adatokat tartalmazza.
     Kormányzat: Ez a kategória a kormányzati kiadásokra, adókra és adósságra vonatkozó adatokat tartalmazza.
     Szociális: Ez a kategória az oktatásra, az egészségre és a szegénységre vonatkozó adatokat tartalmazza.

Az adatok a world_data.xls nevű excel fájlban tárolódnak. Ebben a laborban megtanulhatja, hogyan:

     Hozzon létre panda sorozatot
     Sorozat alapvető attribútumai, például alak, méret és adattípus
     elérheti a panda sorozat adatait
     alapvető statisztikai műveletek elvégzése pandasorozatokon

A labor végére a pandák segítségével feltárhatja és elemzi a Világbank gazdasági, politikai és társadalmi mutatóira vonatkozó adatait a világ országaira vonatkozóan.

In [11]:
import pandas as pd

basepath = r'D:\DataWars\source'
filename = r'\world_bank.xlsx'
sheet = 'Countries in Alpha Order'

df = pd.read_excel(basepath + filename, sheet_name=sheet)
df

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Aruba,MA,ABW,NaN,103889.0,0.011897,88.661227,NaN,75.451098,97.513962,NaN
1,Andorra,EU,AND,NaN,70473.0,0.030622,96.910000,NaN,NaN,NaN,NaN
2,Afghanistan,ME,AFG,6.291267e+10,32526562.0,0.023646,8.260000,0.533629,60.374463,23.873850,0.073278
3,Angola,AF,AGO,1.844377e+11,25021974.0,0.028724,12.400000,0.499538,52.266878,60.744801,0.373074
4,Albania,EU,ALB,3.266324e+10,2889167.0,0.010702,63.252933,0.273431,77.830463,96.769691,0.271050
...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",ME,YEM,NaN,26832215.0,0.030407,25.099514,0.318983,63.818195,54.850632,NaN
260,South Africa,AF,ZAF,7.235160e+11,54956920.0,0.021135,51.919116,0.263915,57.182122,93.428932,0.308972
261,"Congo, Dem. Rep.",AF,COD,6.048226e+10,77266814.0,0.029945,3.800000,0.352896,58.659195,65.897346,0.294904
262,Zambia,AF,ZMB,6.245841e+10,16211767.0,0.030843,21.000000,0.328521,60.047049,80.566971,NaN
263,Zimbabwe,AF,ZWE,2.798488e+10,15602751.0,0.026249,16.360000,0.297209,57.498317,85.285133,0.262450

In [13]:
df.columns

Index(['Country Name', 'Region Code', 'Country Code',
       'GDP, PPP (current international $)', 'Population, total',
       'Population CGR 1960-2015', 'Internet users (per 100 people)',
       'Popltn Largest City % of Urban Pop',
       '2014 Life expectancy at birth, total (years)',
       'Literacy rate, adult female (% of females ages 15 and above)',
       'Exports of goods and services (% of GDP)'],
      dtype='object')

Creating pandas series from the column names

In [15]:
# Lista készítés az oszlopok adataiból
country_name = pd.Series(df['Country Name'])
country_code = pd.Series(df['Country Code'])
population = pd.Series(df['Population, total'])
gdp = pd.Series(df['GDP, PPP (current international $)'])
internet_users = pd.Series(df['Internet users (per 100 people)'])
life_expectancy = pd.Series(df['2014 Life expectancy at birth, total (years)'])
literacy_rate = pd.Series(df['Literacy rate, adult female (% of females ages 15 and above)'])
exports = pd.Series(df['Exports of goods and services (% of GDP)'])

In [16]:
country_name.head()

0          Aruba
1        Andorra
2    Afghanistan
3         Angola
4        Albania
Name: Country Name, dtype: object

Milyen adat tipusa van a country_name-nek?

In [18]:
print(country_name.dtype)

object

Mekkora a gdp lista?

In [20]:
len(gdp) #vagy
gdp.size

264

What is the data type of the internet_users series?

In [21]:
print(internet_users.dtype)

float64

What is the value of the first element in the population series?

In [23]:
population.iloc[0]

103889.0

What is the value of the last element in the life_expectancy series?

In [25]:
life_expectancy.iloc[-1]

57.498317073170746

What is the value of the element with index 29 in the literacy_rate series?

In [27]:
literacy_rate.iloc[29]

95.4420318603516

What is the value of the last element in the gdp series?

In [28]:
gdp.iloc[-1]

27984877194.652447

What is the mean of the internet_users series?

In [29]:
internet_users.mean()

47.55657102325722

What is the standard deviation of the internet_users series?

In [30]:
internet_users.std()

27.691717353487636

What is the median of the exports series?

In [31]:
exports.median()

0.30183071080490165

What is the minimum value in the life_expectancy series

In [32]:
life_expectancy.min()

48.934731707317084

What is the average literacy rate of all countries

In [33]:
literacy_rate.mean()

80.91936549162253

Sort the country_name series in ascending order and assign the result to a new variable called country_name_sorted.

In [34]:
country_name_sorted = country_name.sort_values()

Both the series country_name and literacy_rate have the same number of elements and the elements are in the same order with respect to index number. 
Arrange the country name as per ascending order of literacy rate. 
Assign the result of country name to new variable called country_name_sorted_by_literacy_rate and the result of literacy rate to new variable called literacy_rate_sorted.

Example: If the country name is ['India', 'China', 'Japan'] and literacy rate is [80, 90, 70], then the result should be ['Japan', 'India', 'China'] and [70, 80, 90].

In [36]:
literacy_rate_sorted = literacy_rate.sort_values()
country_name_sorted_by_literacy_rate = country_name[literacy_rate_sorted.index]

literacy_rate_sorted
country_name_sorted_by_literacy_rate

171                             Niger
156                              Mali
82                             Guinea
2                         Afghanistan
32           Central African Republic
                    ...
248                     United States
250    St. Vincent and the Grenadines
252            British Virgin Islands
253             Virgin Islands (U.S.)
257                             World
Name: Country Name, Length: 264, dtype: object