Ebben a rövid projektben a "Vectorized Operations"-ről fogunk tanulni. Különösen a Pandas sorozatra alkalmazott vektorizált műveletekről fogunk tudni; de valójában ezek a NumPy eredeti koncepciója, és SOKAT fogjuk használni a DataFrames-ekkel.

Tehát az itt látható példák triviálisnak tűnhetnek, de bízzon bennünk, hogy nagyon hasznosak lesznek az egész pandás utazás során.

Kezdjük el!

A vektorizált műveletek megértése

A vektorizált műveletek csak egy "globális" függvény alkalmazását jelentik egy teljes sorozatra. Vezessünk egy példát egy táblázatból, amelyben új oszlopot hozunk létre egy művelet MÁSIK oszlopra történő alkalmazásával:

<img src ="series1.gif">

A sorozattal nagyjából ugyanaz lesz, talán még egyszerűbbnek tűnik. Indítsa el a labort, ha még nem tette meg, és vessen egy pillantást az első műveletekre.

Először inicializáljuk az általunk használt sorozatot, ezúttal bevétel_milliókban elnevezéssel. Ez ugyanaz a sorozat, amit eddig is használtunk, és az Indexen szereplő cégek bevételét rögzíti millió dollárban.

Ezután létrehozunk egy ÚJ sorozatot bevétel_milliárdokban néven úgy, hogy a teljes sorozatot elosztjuk 1000-rel:

In [1]:
import pandas as pd

companies = [
    'Apple', 'Samsung', 'Alphabet', 'Foxconn',
    'Microsoft', 'Huawei', 'Dell Technologies',
    'Meta', 'Sony', 'Hitachi', 'Intel',
    'IBM', 'Tencent', 'Panasonic'
]

revenue_in_millions = pd.Series([
    274515, 200734, 182527, 181945, 143015,
    129184, 92224, 85965, 84893, 82345,
    77867, 73620, 69864, 63191],
    index=companies,
    name="Top Technology Companies by Revenue")

In [2]:
revenue_in_billions = revenue_in_millions / 1000
revenue_in_billions

Apple                274.515
Samsung              200.734
Alphabet             182.527
Foxconn              181.945
Microsoft            143.015
Huawei               129.184
Dell Technologies     92.224
Meta                  85.965
Sony                  84.893
Hitachi               82.345
Intel                 77.867
IBM                   73.620
Tencent               69.864
Panasonic             63.191
Name: Top Technology Companies by Revenue, dtype: float64

Ez az! Ez egy vektorizált művelet. Azt mondjuk, hogy "vektorizált", mert nem csak egy értékre hat, hanem a sorozatban található értékek teljes vektorára.

Rendelkezésre álló operátorok

Egyelőre leginkább a normál aritmetikai operátorokra koncentrálunk: +, -, *, /, ** stb. De a további laborokban látni fogjuk, hogy karakterlánc-műveletekkel vagy akár saját egyedi függvényeinkkel vektorizált műveleteket is létrehozhatunk. .
Gyakorlási idő

Most rajtad a sor, hogy gyakoroljon néhány vektorizált műveletet, mielőtt továbblépne a következő részre.

Subtract $50B from all companies in revenue_in_billions

In [ ]:
revenue_recession = revenue_in_billions - 50

Create a new series expressing revenue in dollars (units)

The accounting team needs more detail when calculating EBITDA. 

They need revenue expressed in dollar units (instead of millions or billions). 

Use either series revenue_in_millions or revenue_in_billions to create a new series revenue_in_dollars.

In [ ]:
revenue_in_dollars = revenue_in_millions * 1_000_000

Sorozatok közötti műveletek

Ha megtartjuk a táblázatok analógiáját, látni fogja, hogy lehetséges műveletek létrehozása a különböző sorozatok között. 
Tegyük fel például, hogy újra beüt a recesszió, és az összes cég bevételét érinti; de nem egyformán. 
Minden cég bevételét egy adott százalékkal szeretnénk csökkenteni. 
Például az Apple új bevétele az eredeti bevétel 91%-a, a Samsungé 93%-a stb.

<img src="series2.gif">

In [3]:
recession_impact = pd.Series([
    0.91, 0.93, 0.98, 0.97, 0.99, 0.89, 0.87,
    0.82, 0.93, 0.93, 0.89, 0.97, 0.97, 0.94], index=companies)
recession_impact

Apple                0.91
Samsung              0.93
Alphabet             0.98
Foxconn              0.97
Microsoft            0.99
Huawei               0.89
Dell Technologies    0.87
Meta                 0.82
Sony                 0.93
Hitachi              0.93
Intel                0.89
IBM                  0.97
Tencent              0.97
Panasonic            0.94
dtype: float64

Ennek kifejezésére a sorozattal először létrehozzuk a recession_impact sorozatot, 
és közvetlenül alkalmazzuk a műveletet a bevétel_milliókban eredeti sorozatra:

In [4]:
revenue_in_millions * recession_impact

Apple                249808.65
Samsung              186682.62
Alphabet             178876.46
Foxconn              176486.65
Microsoft            141584.85
Huawei               114973.76
Dell Technologies     80234.88
Meta                  70491.30
Sony                  78950.49
Hitachi               76580.85
Intel                 69301.63
IBM                   71411.40
Tencent               67768.08
Panasonic             59399.54
dtype: float64

Calculate revenue per employee, in dollars

Using the series number_of_employees (given in the notebook), your job is 
to calculate revenue per employee, expressed in dollars (units). 
Store it in the variable revenue_per_employee.

<img src = "series3.png">

In [5]:
number_of_employees = pd.Series([
    164000, 266673, 150028, 1290000, 221000, 195000,
    165000, 71970, 109700, 368250, 121100, 282100, 112771, 240198
], index=companies)

In [ ]:
revenue_per_employee = revenue_in_dollars / number_of_employees