Itt az ideje, hogy próbára tegye tudását a Pandas sorozat vektorizált műveleteiről. Ebben a laborban egy olyan adatkészlettel fogunk dolgozni, amely a pingvinekről tartalmaz információkat. Minden egyes pingvint különféle attribútumok írnak le, mint például a faj, a sziget, a tetőpont hossza, a tetőpont mélysége, a úszószárny hossza, a testtömeg és a nem.

Ebben a laborban a vektorizált műveleteket gyakoroljuk a Panda sorozatokon. Megtanuljuk, hogyan hajtsunk végre számtani műveleteket sorozatokon, és hogyan alkalmazzuk a matematikai függvényeket a sorozatokra.

A labor során olyan kódolási tevékenységeket mutatnak be, amelyekhez kódrészleteket kell írnia a sorozaton végzett konkrét műveletek végrehajtásához. Minden tevékenységet egy megoldás követ, amely lehetővé teszi a kód ellenőrzését és a helyes megközelítés megértését.

Az egyéni témára épülő tevékenységek mellett lesznek vegyes témájú tevékenységek is, amelyekhez különböző műveletek kombinálása szükséges egy adott eredmény elérése érdekében. Ezek a tevékenységek próbára teszik, hogy képes-e egyszerre több koncepciót alkalmazni.

A labor végére alapos ismereteket szerez a Pandas sorozat vektoros műveleteiről, és képes lesz hatékonyan manipulálni és elemezni az adatokat ezekkel a technikákkal.

In [5]:
import pandas as pd
source = r'https://raw.githubusercontent.com/dataprofessor/data/master/penguins_cleaned.csv'
df = pd.read_csv(source)
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male
...,...,...,...,...,...,...,...
328,Chinstrap,Dream,55.8,19.8,207,4000,male
329,Chinstrap,Dream,43.5,18.1,202,3400,female
330,Chinstrap,Dream,49.6,18.2,193,3775,male
331,Chinstrap,Dream,50.8,19.0,210,4100,male
332,Chinstrap,Dream,50.2,18.7,198,3775,female

In [7]:
# Convert all columns to pandas Series
species = df['species']
island = df['island']
culmen_length_mm = df['bill_length_mm']
culmen_depth_mm = df['bill_depth_mm']
flipper_length_mm = df['flipper_length_mm']
body_mass_g = df['body_mass_g']
gender = df['sex']

Add a constant value of 100 to the body_mass_g series

Create a new series called body_mass_g_plus_100 by adding a constant value of 100 to the body_mass_g series.

In [8]:
body_mass_g_plus_100 = body_mass_g + 100

Subtract the culmen_length_mm series from the flipper_length_mm series

Subtract the culmen_length_mm series from the flipper_length_mm series and assign the result to a new series called length_difference.

In [9]:
length_difference = flipper_length_mm - culmen_length_mm

Multiply the culmen_depth_mm series by 2

Multiply the culmen_depth_mm series by 2 and assign the result to a new series called double_culmen_depth_mm.

In [10]:
double_culmen_depth_mm = culmen_depth_mm * 2

Raise the flipper_length_mm series to the power of 2

Create a new series called flipper_length_mm_squared by raising the flipper_length_mm series to the power of 2.

In [11]:
flipper_length_mm_squared = flipper_length_mm ** 2

Calculate the mean of the culmen_length_mm series and subtract it from each value in the series

Find the mean of the culmen_length_mm series and subtract it from each value in the series. Assign the result to a new series called culmen_length_mm_mean_centered.

In [12]:
culmen_length_mm_mean_centered = culmen_length_mm - culmen_length_mm.mean()

Concatenate the species and gender series, separated by a hyphen -

Create a new series called species_and_gender by concatenating the species and gender series, separated by a hyphen (-).

In [13]:
species_and_gender = species + '-' + gender
species_and_gender.head(1)

0    Adelie-male
dtype: object

Perform element-wise addition of culmen_length_mm and culmen_depth_mm

Add culmen_length_mm and culmen_depth_mm together and assign the result to a new variable called culmen_length_plus_depth_mm.

In [14]:
culmen_length_plus_depth_mm = culmen_length_mm + culmen_depth_mm

Sort culmen_length_mm in descending order

Create a new series called culmen_length_mm_sorted by sorting culmen_length_mm in descending order.

In [15]:
culmen_length_mm_sorted = culmen_length_mm.sort_values(ascending=False)

Divide flipper_length_mm by culmen_length_mm

Find the ratio of each penguin's flipper length to its culmen length and assign the result to a new variable called length_ratio.

In [16]:
length_ratio = flipper_length_mm / culmen_length_mm