Az általunk használt adatok az NBA játékosainak statisztikáihoz kapcsolódnak 1985 óta. Bár ez a gyakorlat a sorozatokra vonatkozik, adatainkat DataFrame-ként kezdjük el olvasni. Ha még nem tudja, mi az a DataFrame, ne aggódjon... ez valóban hasznos lesz a jövőben. Az egyetlen dolog, amit most tudnia kell, hogy a DataFrame minden oszlopa egy sorozat. És kivonunk néhány sorozatot a df-ből:

In [2]:
import pandas as pd
source = r'https://raw.githubusercontent.com/prasertcbs/basic-dataset/master/nba_players_stats.csv'
df = pd.read_csv(source, index_col='Name')
df.head()

,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
Name,,,,,,,,,,,,,,,,,,,,,
AJ Price,26,324,133,51,137,37.2,15,57,26.3,16,...,29.0,us,"October 7, 1986",University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
Aaron Brooks,82,1885,954,344,817,42.1,121,313,38.7,145,...,30.0,us,"January 14, 1985",University of Oregon,6,180.0,PG,CHI,72.45,22.361111
Aaron Gordon,47,797,243,93,208,44.7,13,48,27.1,44,...,20.0,us,"September 16, 1995",University of Arizona,R,202.5,PF,ORL,99.00,24.142661
Adreian Payne,32,740,213,91,220,41.4,1,9,11.1,30,...,24.0,us,"February 19, 1991",Michigan State University,R,205.0,PF,ATL,106.65,25.377751
Al Horford,76,2318,1156,519,965,53.8,11,36,30.6,107,...,29.0,do,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384

In [3]:
# Game info
games_played = df['Games Played']
minutes_played = df['MIN']

# Field Goals info
field_goals = df['FG%']
field_goals_attempts = df['FGA']

# Free Throws info
free_throws = df['FTM']
free_throws_attempts = df['FTA']

Calculate field goal accuracy

Calculate the "Field Goal accuracy" of a player by dividing their field goals by their total attempts then multiply by 100. Store the result in the variable field_goal_perc.

In [4]:
field_goal_perc = (field_goals / field_goals_attempts) * 100

What's the FG% of Michael Jordan

Use the series created in the previous activity, field_goal_perc, to answer: what's the FG% of Michael Jordan?

    Remember, MJ's name in this dataset is Michael Jordan* because he was (obviously) inducted in the HoF.

Enter your result with up to three decimal points(don't round-off). That is, if the value is 0.618324, enter 0.618 (including the 0 and the dot .).

In [ ]:
field_goal_perc['Michael Jordan*']

Field goals per Game

Calculate "Field Goals per Game" using the series field_goals and games_played. Store your results in the variable field_goals_per_game

In [ ]:
field_goals_per_game = field_goals / games_played

Which player has the highest 'Field Goal per Game' value?

All stars here...

Larry Bird

Michael Jordan

Magic Johnson

LeBron James

In [ ]:
field_goals_per_game.sort_values(ascending=False).head(1)

Calculate 'Total Points'

In the NBA lingo, field goals account for all the "goals" scored by a player, EXCEPT free throws. So, if we want to calculate the total number of points scored by a player, we must add field goals and free throws. Field goals are a combination of 2-point and 3-point goals. For this exercise, you can safely assume that all "field goals" have a value of 2.

Calculate Total Points scored by a player, by adding the series containing field goals and free throws. Store your results in the variable total_points.

In [8]:
total_points = (field_goals * 2) + free_throws

Who's the player with the most Total Points?

Who's the player that, according to our dataset, has scored the most points in the NBA history?

Shaquille O'Neal

Michael Jordan

Karl Malone

Kobe Bryant

In [9]:
total_points.sort_values(ascending = False).head(1)

Name
James Harden    803.0
dtype: float64

Using the series that you previously calculated, total_points, calculate "Total points per minute". Store your results in the variable points_per_minute.

    Important. This activity relies on total_points. Make sure you have completed that one correctly.

In [10]:
points_per_minute = total_points / minutes_played

Who has a better Points per Minute score; MJ or Kevin Durant?

Kevin Durant

Michael Jordan

In [ ]:
points_per_minute['Michael Jordan*']
points_per_minute['Kevin Durant']

Calculate FT

FT is the proportion of scored Free Throws divided by the total attempts. Basically, the accuracy of Free Throws. Store your results in ft_perc.

In [ ]:
ft_perc = free_throws / free_throws_attempts

Who's the player with best FT% record: MJ or Larry Bird?

A battle of titans. Who had a better FT% record?

Larry Bird

Michael Jordan

In [ ]:
ft_perc['Michael Jordan*']
ft_perc['Larry Bird']

Find the top 25% players by 'free throw accuracy'

Create a boolean series that contains True values for those players that are in the top 25% by free throw efficiency (using the preivously calculated) ft_perc series. Store your results in the variable ft_top_25.

In [ ]:
ft_top_25 = ft_perc >= ft_perc.quantile(0.75)

How many players are in the top 25% by free throw accuracy?

Answer using the previously calcualted series ft_top_25.

In [ ]:
len(ft_top_25[ft_top_25 == True])

Find those players that scored 0 points in their history

Create a boolean series that contains True values for those players that have scored 0 total points. Store your results in the variable players_0_points.

In [ ]:
players_0_points = total_points == 0

How many players have scored 0 points?

Using your previous series, answer: how many players registered 0 points?

In [ ]:
len(players_0_points[players_0_points == True])