Üdvözöljük a devizaadatok feltárására irányuló projektben a pandas DataFrame segítségével! Ebben a projektben izgalmas utazásra indulunk, melynek során elemezni fogunk, és betekintést nyerünk egy átfogó adatkészletből, amely információkat tartalmaz a világ különböző valutáiról.

A projekt során az alapvető technikák gyakorlására összpontosítunk a pandák DataFrame-eken, hogy értelmes információkat nyerjünk ki és különböző elemzéseket végezzünk. Olyan adatkészlettel fogunk dolgozni, amely pénznemneveket, szimbólumokat, pénznemkódokat, felhasználási országokat és egyéb releváns részleteket tartalmaz.

Feltárásunk több lényeges témát is érint majd. Először is elsajátítjuk az alapvető navigációs technikákat olyan módszerek használatával, mint a head(), a tail(), az info(), a shape, a description(), a nunique() és az isnull(). Ezek a módszerek lehetővé teszik számunkra, hogy gyorsan megvizsgáljuk az adatkészletet, megértsük a szerkezetét, és azonosítsuk a hiányzó értékeket.

Ezután megismerjük a DataFrame-ből adott oszlopok kiválasztásának különböző módszereit. A [], loc[] és iloc[] indexelésével kibontjuk és elemezzük a pénznemek speciális attribútumait. Ez a szelektív megközelítés lehetővé teszi számunkra, hogy a minket leginkább érdeklő szempontokra összpontosítsunk, és célzott elemzéseket végezzünk.

Végül a DataFrame alapvető szűrésére szolgáló szeletelési technikákkal foglalkozunk. A szeletelés lehetővé teszi az adatok részhalmazainak kinyerését, valamint részletesebb és részletesebb elemzések elvégzését. Ezen szeletelési technikák alkalmazásával betekintést nyerhetünk bizonyos valutacsoportokba, vagy tulajdonságaik alapján vizsgálhatjuk a valutákat.

Ezzel a projekttel gyakorlati tapasztalatokat szerezhet a pandák DataFrames-ekkel kapcsolatban, és szilárd alapot alakíthat ki az adatok feltárása, manipulálása és elemzése terén. Valós valuta-adatkészlettel való munkavégzés révén fejlesztheti készségeit a különféle adatkészletekkel való munka során, és jól felkészült a jövőbeli adattudományi projektekre.

Készüljön fel a valutaadatok felfedezésének izgalmas utazására a pandák DataFrame segítségével. Merüljünk el, és tárjuk fel a valuták világába rejtett betekintést!

In [ ]:
0 	UK Pound 	£ 	GBP 	Guernsey,Isle Of Man,Jersey,United Kingdom Of ... 	2.0 	826.0
1 	Czech Koruna 	Kč 	CZK 	Czechia 	2.0 	203.0
2 	Latvian Lat 	Ls 	LVL 	NaN 	NaN 	NaN
3 	Swiss Franc 	CHF 	CHF 	Liechtenstein,Switzerland 	2.0 	756.0
4 	Croatian Kruna 	kn 	HRK 	Croatia 	2.0 	191.0
5 	Danish Krone 	kr 	DKK 	Denmark,Faroe Islands (The),Greenland 	2.0 	208.0
6 	Korean Won 	₩ 	KRW 	Korea (The Republic Of) 	0.0 	410.0
7 	Swedish Krona 	kr 	SEK 	Sweden 	2.0 	752.0
8 	Turkish Lira 	₤ 	TRY 	Turkey 	2.0 	949.0
9 	Hungarian Forint 	Ft 	HUF 	Hungary 	2.0 	348.0
10 	Brazilian Real 	R$ 	BRL 	Brazil 	2.0 	986.0
11 	Lithuanian Litas 	Lt 	LTL 	NaN 	NaN 	NaN
12 	Bulgarian Lev 	лB 	BGN 	Bulgaria 	2.0 	975.0
13 	Polish Zloty 	zł 	PLN 	Poland 	2.0 	985.0
14 	US Dollar 	$ 	USD 	American Samoa,Bonaire, Sint Eustatius And Sab... 	2.0 	840.0
15 	Russian Ruble 	руб 	RUB 	Russian Federation (The) 	2.0 	643.0
16 	Japanese Yen 	¥ 	JPY 	Japan 	0.0 	392.0
17 	Romanian New Leu 	lei 	RON 	Romania 	2.0 	946.0
18 	Norwegian Krone 	kr 	NOK 	Bouvet Island,Norway,Svalbard And Jan Mayen 	2.0 	578.0
19 	Australian Dollar 	$ 	AUD 	Australia,Christmas Island,Cocos (Keeling) Isl... 	2.0 	36.0
20 	Israeli Shekel 	₪ 	ILS 	Israel 	2.0 	376.0
21 	New Zealand Dollar 	$ 	NZD 	Cook Islands (The),New Zealand,Niue,Pitcairn,T... 	2.0 	554.0
22 	Indonesian Rupiah 	Rp 	IDR 	Indonesia 	2.0 	360.0
23 	Philippine Peso 	₱ 	PHP 	Philippines (The) 	2.0 	608.0
24 	Euro 	€ 	EUR 	Andorra,Austria,Belgium,Cyprus,Estonia,Europea... 	2.0 	978.0
25 	Canadian Dollar 	$ 	CAD 	Canada 	2.0 	124.0
26 	Chinese Yuan 	¥ 	CNY 	China 	2.0 	156.0
27 	Hong Kong Dollar 	$ 	HKD 	Hong Kong 	2.0 	344.0
28 	Indian Rupee 	₨ 	INR 	Bhutan,India 	2.0 	356.0
29 	Mexican Peso 	$ 	MXN 	Mexico 	2.0 	484.0
30 	Malaysian Ringgit 	RM 	MYR 	Malaysia 	2.0 	458.0
31 	South African Rand 	R 	ZAR 	Lesotho,Namibia,South Africa 	2.0 	710.0
32 	Thai Baht 	฿ 	THB 	Thailand 	2.0 	764.0
33 	Singaporean Dollar 	$ 	SGD 	Singapore 	2.0 	702.0

In [3]:
import pandas as pd

In [7]:
data = {
    'Name':['UK Pound',
            'Czech Koruna',
            'Latvian Lat',
            'Swiss Franc',
            'Croatian Kruna',
            'Danish Krone',
            'Korean Won',
            'Swedish Krona',
            'Turkish Lira',
            'Hungarian Forint',
            'Brazilian Real',
            'Lithuanian Litas',
            'Bulgarian Lev',
            'Polish Zloty',
            'US Dollar',
            'Russian Ruble',
            'Japanese Yen',
            'Romanian New Leu',
            'Norwegian Krone',
            'Australian Dollar',
            'Israeli Shekel',
            'New Zealand Dollar',
            'Indonesian Rupiah',
            'Philippine Peso',
            'Euro',
            'Canadian Dollar',
            'Chinese Yuan',
            'Hong Kong Dollar',
            'Indian Rupee',
            'Mexican Peso',
            'Malaysian Ringgit',
            'South African Rand',
            'Thai Baht',
            'Singaporean Dollar'],
    'Symbol':[
            '£',
            'Kč',
            'Ls',
            'CHF',
            'kn',
            'kr',
            '₩',
            'kr',
            '₤',
            'Ft',
            'R$',
            'Lt',
            'лB',
            'zł',
            '$',
            'руб',
            '¥',
            'lei',
            'kr',
            '$',
            '₪',
            '$',
            'Rp',
            '₱',
            '€',
            '$',
            '¥',
            '$',
            '₨',
            '$',
            'RM',
            'R',
            '฿',
            '$'
    ],
    'Code':[
            'GBP',
            'CZK',
            'LVL',
            'CHF',
            'HRK',
            'DKK',
            'KRW',
            'SEK',
            'TRY',
            'HUF',
            'BRL',
            'LTL',
            'BGN',
            'PLN',
            'USD',
            'RUB',
            'JPY',
            'RON',
            'NOK',
            'AUD',
            'ILS',
            'NZD',
            'IDR',
            'PHP',
            'EUR',
            'CAD',
            'CNY',
            'HKD',
            'INR',
            'MXN',
            'MYR',
            'ZAR',
            'THB',
            'SGD'
    ],
    'Countries':[
            'Guernsey,Isle Of Man,Jersey,United Kingdom',
            'Czechia',
            '',
            'Liechtenstein,Switzerland',
            'Croatia',
            'Denmark,Faroe Islands (The),Greenland',
            'Korea (The Republic Of)',
            'Sweden',
            'Turkey',
            'Hungary',
            'Brazil',
            '',
            'Bulgaria',
            'Poland',
            'American Samoa,Bonaire, Sint Eustatius And Sab...',
            'Russian Federation (The)',
            'Japan',
            'Romania',
            'Bouvet Island,Norway,Svalbard And Jan Mayen',
            'Australia,Christmas Island,Cocos (Keeling) Isl...',
            'Israel',
            'Cook Islands (The),New Zealand,Niue,Pitcairn,T...',
            'Indonesia',
            'Philippines (The)',
            'Andorra,Austria,Belgium,Cyprus,Estonia,Europea...',
            'Canada',
            'China',
            'Hong Kong',
            'Bhutan,India',
            'Mexico',
            'Malaysia',
            'Lesotho,Namibia,South Africa',
            'Thailand',
            'Singapore',
    ],
    'Digits': [
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
        2.0,
    ],
    'Number': [
        826.0,
        203.0,
        0,
        756.0,
        191.0,
        208.0,
        410.0,
        752.0,
        949.0,
        348.0,
        986.0,
        0,
        975.0,
        985.0,
        840.0,
        643.0,
        392.0,
        946.0,
        578.0,
        36.0,
        376.0,
        554.0,
        360.0,
        608.0,
        978.0,
        124.0,
        156.0,
        344.0,
        356.0,
        484.0,
        458.0,
        710.0,
        764.0,
        702.0
    ]
}

In [4]:
df = pd.DataFrame(data)
df

,Name,Symbol,Code,Countries,Digits,Number
0,UK Pound,£,GBP,"Guernsey,Isle Of Man,Jersey,United Kingdom",2.0,826.0
1,Czech Koruna,Kč,CZK,Czechia,2.0,203.0
2,Latvian Lat,Ls,LVL,,2.0,0.0
3,Swiss Franc,CHF,CHF,"Liechtenstein,Switzerland",2.0,756.0
4,Croatian Kruna,kn,HRK,Croatia,2.0,191.0
5,Danish Krone,kr,DKK,"Denmark,Faroe Islands (The),Greenland",2.0,208.0
6,Korean Won,₩,KRW,Korea (The Republic Of),2.0,410.0
7,Swedish Krona,kr,SEK,Sweden,2.0,752.0
8,Turkish Lira,₤,TRY,Turkey,2.0,949.0
9,Hungarian Forint,Ft,HUF,Hungary,2.0,348.0
10,Brazilian Real,R$,BRL,Brazil,2.0,986.0
11,Lithuanian Litas,Lt,LTL,,2.0,0.0
12,Bulgarian Lev,лB,BGN,Bulgaria,2.0,975.0
13,Polish Zloty,zł,PLN,Poland,2.0,985.0
14,US Dollar,$,USD,"American Samoa,Bonaire, Sint Eustatius And Sab...",2.0,840.0
15,Russian Ruble,руб,RUB,Russian Federation (The),2.0,643.0
16,Japanese Yen,¥,JPY,Japan,2.0,392.0
17,Romanian New Leu,lei,RON,Romania,2.0,946.0
18,Norwegian Krone,kr,NOK,"Bouvet Island,Norway,Svalbard And Jan Mayen",2.0,578.0
19,Australian Dollar,$,AUD,"Australia,Christmas Island,Cocos (Keeling) Isl...",2.0,36.0
20,Israeli Shekel,₪,ILS,Israel,2.0,376.0
21,New Zealand Dollar,$,NZD,"Cook Islands (The),New Zealand,Niue,Pitcairn,T...",2.0,554.0
22,Indonesian Rupiah,Rp,IDR,Indonesia,2.0,360.0
23,Philippine Peso,₱,PHP,Philippines (The),2.0,608.0
24,Euro,€,EUR,"Andorra,Austria,Belgium,Cyprus,Estonia,Europea...",2.0,978.0
25,Canadian Dollar,$,CAD,Canada,2.0,124.0
26,Chinese Yuan,¥,CNY,China,2.0,156.0
27,Hong Kong Dollar,$,HKD,Hong Kong,2.0,344.0
28,Indian Rupee,₨,INR,"Bhutan,India",2.0,356.0
29,Mexican Peso,$,MXN,Mexico,2.0,484.0
30,Malaysian Ringgit,RM,MYR,Malaysia,2.0,458.0
31,South African Rand,R,ZAR,"Lesotho,Namibia,South Africa",2.0,710.0
32,Thai Baht,฿,THB,Thailand,2.0,764.0
33,Singaporean Dollar,$,SGD,Singapore,2.0,702.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       34 non-null     object
 1   Symbol     34 non-null     object
 2   Code       34 non-null     object
 3   Countries  34 non-null     object
 4   Digits     34 non-null     float64
 5   Number     34 non-null     float64
dtypes: float64(2), object(4)
memory usage: 1.7+ KB

In [9]:
df.describe()

       Digits      Number
count    34.0   34.000000
mean      2.0  529.352941
std       0.0  311.996492
min       2.0    0.000000
25%       2.0  345.000000
50%       2.0  519.000000
75%       2.0  762.000000
max       2.0  986.000000

In [10]:
df.nunique()

Name         34
Symbol       25
Code         34
Countries    33
Digits        1
Number       33
dtype: int64

In [11]:
df['Number'].max()

986.0

In [12]:
names = df['Name']

In [13]:
row3 = df.iloc[2]

In [ ]:
# Select rows 10 to 15 (inclusive) from the DataFrame
df.loc[9:14]

In [15]:
#Páros indexű sorok
rows_every_other = df.iloc[::2]
rows_every_other

,Name,Symbol,Code,Countries,Digits,Number
0,UK Pound,£,GBP,"Guernsey,Isle Of Man,Jersey,United Kingdom",2.0,826.0
1,Czech Koruna,Kč,CZK,Czechia,2.0,203.0
2,Latvian Lat,Ls,LVL,,2.0,0.0
3,Swiss Franc,CHF,CHF,"Liechtenstein,Switzerland",2.0,756.0
4,Croatian Kruna,kn,HRK,Croatia,2.0,191.0
5,Danish Krone,kr,DKK,"Denmark,Faroe Islands (The),Greenland",2.0,208.0
6,Korean Won,₩,KRW,Korea (The Republic Of),2.0,410.0
7,Swedish Krona,kr,SEK,Sweden,2.0,752.0
8,Turkish Lira,₤,TRY,Turkey,2.0,949.0
9,Hungarian Forint,Ft,HUF,Hungary,2.0,348.0
10,Brazilian Real,R$,BRL,Brazil,2.0,986.0
11,Lithuanian Litas,Lt,LTL,,2.0,0.0
12,Bulgarian Lev,лB,BGN,Bulgaria,2.0,975.0
13,Polish Zloty,zł,PLN,Poland,2.0,985.0
14,US Dollar,$,USD,"American Samoa,Bonaire, Sint Eustatius And Sab...",2.0,840.0
15,Russian Ruble,руб,RUB,Russian Federation (The),2.0,643.0
16,Japanese Yen,¥,JPY,Japan,2.0,392.0
17,Romanian New Leu,lei,RON,Romania,2.0,946.0
18,Norwegian Krone,kr,NOK,"Bouvet Island,Norway,Svalbard And Jan Mayen",2.0,578.0
19,Australian Dollar,$,AUD,"Australia,Christmas Island,Cocos (Keeling) Isl...",2.0,36.0
20,Israeli Shekel,₪,ILS,Israel,2.0,376.0
21,New Zealand Dollar,$,NZD,"Cook Islands (The),New Zealand,Niue,Pitcairn,T...",2.0,554.0
22,Indonesian Rupiah,Rp,IDR,Indonesia,2.0,360.0
23,Philippine Peso,₱,PHP,Philippines (The),2.0,608.0
24,Euro,€,EUR,"Andorra,Austria,Belgium,Cyprus,Estonia,Europea...",2.0,978.0
25,Canadian Dollar,$,CAD,Canada,2.0,124.0
26,Chinese Yuan,¥,CNY,China,2.0,156.0
27,Hong Kong Dollar,$,HKD,Hong Kong,2.0,344.0
28,Indian Rupee,₨,INR,"Bhutan,India",2.0,356.0
29,Mexican Peso,$,MXN,Mexico,2.0,484.0
30,Malaysian Ringgit,RM,MYR,Malaysia,2.0,458.0
31,South African Rand,R,ZAR,"Lesotho,Namibia,South Africa",2.0,710.0
32,Thai Baht,฿,THB,Thailand,2.0,764.0
33,Singaporean Dollar,$,SGD,Singapore,2.0,702.0

In [16]:
#2,4,5 oszlopok és az összes sorok
cols = df.iloc[: ,[2,4,5]]
cols

   Code  Digits  Number
0   GBP     2.0   826.0
1   CZK     2.0   203.0
2   LVL     2.0     0.0
3   CHF     2.0   756.0
4   HRK     2.0   191.0
5   DKK     2.0   208.0
6   KRW     2.0   410.0
7   SEK     2.0   752.0
8   TRY     2.0   949.0
9   HUF     2.0   348.0
10  BRL     2.0   986.0
11  LTL     2.0     0.0
12  BGN     2.0   975.0
13  PLN     2.0   985.0
14  USD     2.0   840.0
15  RUB     2.0   643.0
16  JPY     2.0   392.0
17  RON     2.0   946.0
18  NOK     2.0   578.0
19  AUD     2.0    36.0
20  ILS     2.0   376.0
21  NZD     2.0   554.0
22  IDR     2.0   360.0
23  PHP     2.0   608.0
24  EUR     2.0   978.0
25  CAD     2.0   124.0
26  CNY     2.0   156.0
27  HKD     2.0   344.0
28  INR     2.0   356.0
29  MXN     2.0   484.0
30  MYR     2.0   458.0
31  ZAR     2.0   710.0
32  THB     2.0   764.0
33  SGD     2.0   702.0

In [ ]:
cols_first_three = df.iloc[:, [0,1,2]]