Ebben a laborban gyakoroljuk a feltételes szűrést és a panda sorozatok rendezését olyan adatkészlet segítségével, amely a 2002 óta játszó nemzetközi krikettjátékosokról tartalmaz információkat. Az adatok tartalmazzák a játékos nevét, a lejátszott inningek számát, a szerzett futások számát. , eltalált labdák száma, kirúgásuk száma, ütési átlaguk, ütési arányuk, legmagasabb pontszámuk, eltalált négyesek száma, eltalált hatosok száma, fél góljuk száma században, és hányszor szereztek egy évszázadot.

Below are the columns of the dataset:

    Player: Name of the player
    I: Number of innings played
    R: Number of runs scored
    B: Number of balls faced
    Outs: Number of times dismissed
    Avg: Batting average
    SR: Strike rate
    HS: Highest score
    4s: Number of fours hit
    6s: Number of sixes hit
    50: Number of times scored a half-century
    100: Number of times scored a century

In [6]:
import pandas as pd
data = pd.read_csv(r'..\..\source\leadersdata.csv')
data.head()

         Player   I    R    B  Outs    Avg     SR  HS  4s  6s  50  100
0       A Bagai  15  343  556    13  26.38  61.69  84  38   0   2    0
1   A Balbirnie   6  236  260     6  39.33  90.77  97  20   4   2    0
2  A Codrington   5   28   65     5   5.60  43.08  16   2   0   0    0
3    A Flintoff  12  248  357    12  20.67  69.47  64  20   7   1    0
4      A Flower   7  332  459     7  47.43  72.33  71  30   1   3    0

In [10]:
#Indexként állítsuk be a játékos nevét
'''
inplace=True: Ez azt jelenti, hogy a változtatásokat közvetlenül a data 
DataFrame-en hajtja végre. Ha inplace=False lenne, akkor egy új DataFrame-et 
adna vissza az eredményként, és a data DataFrame nem változna.
Ha megnézzük a kiiratásokat ezután nem lesznek ott a számok, mint index.
'''
data.set_index('Player', inplace=True)

'\ninplace=True: Ez azt jelenti, hogy a változtatásokat közvetlenül a data \nDataFrame-en hajtja végre. Ha inplace=False lenne, akkor egy új DataFrame-et \nadna vissza az eredményként, és a data DataFrame nem változna.\nHa megnézzük a kiiratásokat ezután nem lesznek ott a számok, mint index.\n'

In [15]:
#Minden oszlophoz csinálunk egy series-t, ebben a játékos neve és az I 
#oszlop lesz.
innings = data['I']
runs = data['R']
balls = data['B']
outs = data['Outs']
batting_average = data['Avg']
strike_rate = data['SR']
highest_score = data['HS']
number_of_fours = data['4s']
number_of_sixes = data['6s']
number_of_fifties = data['50']
number_of_hundreds = data['100']

In [16]:
# Printing the first 5 rows of each series
print("Innings:\n", innings.head())
print("Runs:\n", runs.head())
print("Balls:\n", balls.head())
print("Outs:\n", outs.head())
print("Batting Average:\n", batting_average.head())
print("Strike Rate:\n", strike_rate.head())
print("Highest Score:\n", highest_score.head())
print("Number of Fours:\n", number_of_fours.head())
print("Number of Sixes:\n", number_of_sixes.head())
print("Number of Fifties:\n", number_of_fifties.head())
print("Number of Hundreds:\n", number_of_hundreds.head())

Innings:
 Player
A Bagai         15
A Balbirnie      6
A Codrington     5
A Flintoff      12
A Flower         7
Name: I, dtype: int64
Runs:
 Player
A Bagai         343
A Balbirnie     236
A Codrington     28
A Flintoff      248
A Flower        332
Name: R, dtype: object
Balls:
 Player
A Bagai         556
A Balbirnie     260
A Codrington     65
A Flintoff      357
A Flower        459
Name: B, dtype: object
Outs:
 Player
A Bagai         13
A Balbirnie      6
A Codrington     5
A Flintoff      12
A Flower         7
Name: Outs, dtype: int64
Batting Average:
 Player
A Bagai         26.38
A Balbirnie     39.33
A Codrington     5.60
A Flintoff      20.67
A Flower        47.43
Name: Avg, dtype: float64
Strike Rate:
 Player
A Bagai         61.69
A Balbirnie     90.77
A Codrington    43.08
A Flintoff      69.47
A Flower        72.33
Name: SR, dtype: float64
Highest Score:
 Player
A Bagai         84
A Balbirnie     97
A Codrington    16
A Flintoff      64
A Flower        71
Name: HS, dtype: int64
Number of Fours:
 Player
A Bagai         38
A Balbirnie     20
A Codrington     2
A Flintoff      20
A Flower        30
Name: 4s, dtype: int64
Number of Sixes:
 Player
A Bagai         0
A Balbirnie     4
A Codrington    0
A Flintoff      7
A Flower        1
Name: 6s, dtype: int64
Number of Fifties:
 Player
A Bagai         2
A Balbirnie     2
A Codrington    0
A Flintoff      1
A Flower        3
Name: 50, dtype: int64
Number of Hundreds:
 Player
A Bagai         0
A Balbirnie     0
A Codrington    0
A Flintoff      0
A Flower        0
Name: 100, dtype: int64

Hány játékos ütésátlaga nagyobb 30-nál a batting_average sorozatban?

In [19]:
len(batting_average[batting_average > 30])

169

Egy játékos által a futások sorozatában elért maximális futások száma

In [21]:
runs.max()

'998'

Name the player with maximum runs

In [24]:
runs[runs == runs.max()]

Player
DPMD Jayawardene    998
Name: R, dtype: object

Nevezd meg azt a játékost, aki a legkevesebb labdát játszott?

Előfordulhat, hogy egynél több játékos játszotta a legkevesebb labdát. 
Ebben az esetben vesszővel elválasztva írja be a kereszt- és az utolsó 
játékosok nevét. Például írjon A-t, B-t.

In [25]:
balls[balls == balls.min()]

Player
CJ Jordan        1
EC Rainsford     1
JJ Bumrah        1
KW Richardson    1
M Zondeki        1
MM Sharma        1
PHT Kaushal      1
PJK Mooney       1
PT Collins       1
SW Tait          1
XJ Doherty       1
Name: B, dtype: object

How many players have played more than 500 balls in the balls series?

In [34]:
balls = balls.str.replace(',','.')

In [35]:
balls = balls.astype('float')

In [37]:
len(balls[balls > 500])

49

How many players have a strike rate not equal to 70 in the strike_rate series

In [40]:
len(strike_rate[strike_rate > 70])

339

What is the minimum number of innings played by a player in the innings series?

In [46]:
innings.min()

1

In [45]:
data[data['I'] == data['I'].min()]

              I   R   B  Outs   Avg      SR  HS  4s  6s  50  100
Player
A Patel       1  25  29     1  25.0   86.21  25   3   0   0    0
A Zampa       1   1   3     1   1.0   33.33   1   0   0   0    0
ADR Campbell  1   7  25     1   7.0   28.00   7   0   0   0    0
AJ McKay      1   0   2     1   0.0    0.00   0   0   0   0    0
Akram Khan    1  13  38     1  13.0   34.21  13   0   0   0    0
...          ..  ..  ..   ...   ...     ...  ..  ..  ..  ..  ...
UT Yadav      1   0   5     1   0.0    0.00   0   0   0   0    0
WF Stelling   1   1   4     0   0.0   25.00   1   0   0   0    0
XJ Doherty    1   0   1     0   0.0    0.00   0   0   0   0    0
Yasir Shah    1  13  23     1  13.0   56.52  13   1   0   0    0
YS Chahal     1   5   5     1   5.0  100.00   5   1   0   0    0

[79 rows x 11 columns]

How many players have a batting average greater than 50 in the batting_average series

In [47]:
len(batting_average[batting_average > 50])

52

How many players have a batting average between 20 and 30 (inclusive) in the batting_average series

In [51]:
len(batting_average[(batting_average >= 20) & (batting_average <= 30)])

113

Calculating the Average Balls Faced by a Player.

In [52]:
balls.mean()

156.99960802469133

How many players have a strike rate greater than 120 in the strike_rate series

In [54]:
len(strike_rate[strike_rate > 120])

39

Provide the names of the top three players from the strike_rate series

Write the names of the players in the decreasing order of their strike rate separated by a comma. For example, write A, B, C.

In [57]:
strike_rate.sort_values(ascending=False).head(3)

Player
KD Mills        233.33
LD Chandimal    216.67
F Behardien     205.56
Name: SR, dtype: float64

Sum of Maximums from number_of_fours and number_of_sixes Series

The goal is to calculate the sum of the maximum values from both series combined. 
For example, if the maximum value in number_of_fours is 10 and the maximum 
value in number_of_sixes is 20, then the answer is 30.

In [58]:
number_of_fours.max() + number_of_sixes.max()

196

How many players have a batting average below 10 in the batting_average series

In [61]:
len(batting_average[batting_average < 10])

220

Name the player who hit maximum sixes

Write the player name along with the number of sixes hit by the player 
separated by a comma. For example, write A, 10.

In [62]:
number_of_sixes.sort_values(ascending=False).head(1)

Player
CH Gayle    49
Name: 6s, dtype: int64

How many players have a strike rate between 80 and 90 (inclusive) in the 
strike_rate series

In [63]:
len(strike_rate[(strike_rate >= 80) & (strike_rate <= 90)])

92

What is the total number of runs scored by all players in the runs series

In [66]:
print(runs.sum())

34323628248332259925751518343101,2072034468410388616453319210726191203612828991072711171997875001364171401313338621231420872961709858219053259922014332151542261937545022281053465047407424517458152561432732268669019012579467293223531,1867423112500851831622399705362154390224334831166131326712031914241460489926258256412179331695238231901671732071088199864953231421522439931714523513113755741152867281749269511862597739318656232128790747263310388965550159116073619417712278551055334933754319796445311108726226166388124038429117171785410198451382651116642214216230519020197937182515585806114197551345391842592327587414715813255773137443135611315532340267440620325101221245844353411491149658181719064724901,532147035853915512253499154361809418257538911211917731185293418411345418716441014271,00222182451248295812597684366116163199022300116371563914856881938598888995180787298726726046065121111299483447197731028717782251041178734823138278036828877130218654241636714474035356046175111082521362010016798856166310110313281282671934742972058972501483231641141991545064039953101347254270341051221213965346109781676552611382743582105711646210739533061,160203011437625815371270122521812181023284771630325909627492182749726116443302601232733111,146177210021252643358334313472570405153213416741408341,219143864333237883601612170193330610437185191133234421231741,11230450641110915511404491231601,030843581344210153179177124221712033313662769710801374349573852104

What is the range (difference between the maximum and minimum values) 
of the number_of_fifties series

In [67]:
number_of_fifties.max() - number_of_fifties.min()

10

How many players have a strike rate below 60 in the strike_rate series

In [68]:
len(strike_rate[strike_rate < 60])

221

Calculating the Mean Number of Boundaries (Fours + Sixes) Hit by a Player

In this activity, you will be calculating the mean number of boundaries hit by 
a player. Boundaries include both fours and sixes. You will be given two series: 
number_of_fours and number_of_sixes. Your task is to find the mean number of 
boundaries hit by combining the values from both series.

    Remember to round your answer to two decimal places. For example, 
    if the mean number of boundaries is 1.453, write 1.45.

In [69]:
(number_of_fours + number_of_sixes).mean()

17.566358024691358

Players with highest score in highest_score series

Create a new series named top_five_scores that contains the top five players 
names with the highest score in the highest_score series. 
The series should be sorted in descending order based on the scores.

In [72]:
top_five_scores = highest_score.sort_values(ascending=True).head(5)

In [73]:
top_five_scores

Player
PJK Mooney       0
KED Carroll      0
Kamran Shazad    0
AJ McKay         0
MBS Jonkman      0
Name: HS, dtype: int64