#### Üdvözöljük a Pandas DataFrame Mutations Lab: Exploring Airbnb listák!

Ebben a kódolási laborban megtanulhatja az új oszlopok létrehozását, a sorok hirdetésoszlopainak törlését, az adatkeret szerkezetének módosítását, új sorok hozzáadását és az inplace paraméter használatát. Az Airbnb listák adatkészletével fogunk dolgozni, amely információkat tartalmaz az egyesült államokbeli Airbnb-listákkal kapcsolatban. Ez az adatkészlet szolgál majd felfedező és tanulási utunk alapjául.

Adatkészlet leírása:

Az Airbnb listák adatkészlete értékes betekintést nyújt a rövid távú nyaralóbérlés világába. Olyan részleteket tartalmaz, mint az adatlap azonosítója, név, gazdagép azonosítója, gazdagép neve, környék, földrajzi koordináták, szobatípus, árinformációk, minimális éjszakák száma, és számos egyéb attribútum, amelyek meghatározzák az egyes listákat. Ennek az adatkészletnek a felhasználásával értelmes információkat nyerhetünk ki, mintákat tárhatunk fel, és betekintést nyerhetünk az Egyesült Államok Airbnb-piacába.

Ezen a kódoló laboron keresztül alaposan megismerheti a pandákat, és gyakorlati tapasztalatokat szerezhet az adatkezelési, -elemzési és -átalakítási feladatok elvégzésében. Ezek a készségek értékesek lesznek különböző adatvezérelt területeken, az üzleti elemzéstől az adattudományig.

Itt az ideje, hogy feltűrje az ingujját, begyújtsa Jupyter notebookjait, és induljon el ezen az izgalmas utazáson, melynek során pandák segítségével fedezze fel az Airbnb listák adatkészletét!


FONTOS MEGJEGYZÉS: Néhány ilyen tevékenység magában foglalja az eredeti adatkeret módosítását és MUTABLE műveletek végrehajtását. Ennek az az oka, hogy az adatok mutációja után lehetetlen visszamenni, és ha hibázik, elölről kell kezdenie. Amint azt korábban említettük, mindig javasolt megváltoztathatatlan műveletek végrehajtása helyett.

Szóval, miért használnak változtatható műveleteket? Nos, szeretnénk megtanítani Önt az iparágunkban is elterjedt „rossz gyakorlatokra”. A változó műveletek használatára kényszerítve notebookjának rendkívül tisztanak és rendezettnek kell lennie, mert lehet, hogy MINDENT újra kell indítania a nulláról (az 1. cellából, az adatok olvasása, egészen le).

Ezt a projektet alaposan tesztelték, és MŰKÖDIK. Ha a megoldás nem működik, annak az az oka, hogy az előző lépésekben néhány mutáció hibás.

In [1]:
import pandas as pd
basepath = r'..\..\source\AB_US_2020.csv'

df = pd.read_csv(basepath, low_memory=False, parse_dates=['last_review'])
df.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_32936\4280818453.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(basepath, low_memory=False, parse_dates=['last_review'])

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,2020-02-16,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,2020-07-09,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,2019-11-30,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,2020-09-22,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,2015-10-19,0.52,1,0,Asheville

In [2]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'city'],
      dtype='object')

In [3]:
df.shape

(226030, 17)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226030 entries, 0 to 226029
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              226030 non-null  int64
 1   name                            226002 non-null  object
 2   host_id                         226030 non-null  int64
 3   host_name                       225997 non-null  object
 4   neighbourhood_group             110185 non-null  object
 5   neighbourhood                   226030 non-null  object
 6   latitude                        226030 non-null  float64
 7   longitude                       226030 non-null  float64
 8   room_type                       226030 non-null  object
 9   price                           226030 non-null  int64
 10  minimum_nights                  226030 non-null  int64
 11  number_of_reviews               226030 non-null  int64
 12  last_review                     177428 non-null  datetime64[ns]
 13  reviews_per_month               177428 non-null  float64
 14  calculated_host_listings_count  226030 non-null  int64
 15  availability_365                226030 non-null  int64
 16  city                            226030 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(7), object(6)
memory usage: 29.3+ MB

In [5]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,2.260300e+05,2.260300e+05,226030.000000,226030.000000,226030.000000,2.260300e+05,226030.000000,177428,177428.00000,226030.000000,226030.000000
mean,2.547176e+07,9.352385e+07,35.662829,-103.220662,219.716529,4.525490e+02,34.506530,2019-11-02 06:47:04.356922368,1.43145,16.698562,159.314856
min,1.090000e+02,2.300000e+01,18.920990,-159.714900,0.000000,1.000000e+00,0.000000,2010-03-28 00:00:00,0.01000,1.000000,0.000000
25%,1.515890e+07,1.399275e+07,32.761783,-118.598115,75.000000,1.000000e+00,1.000000,2019-09-02 00:00:00,0.23000,1.000000,0.000000
50%,2.590916e+07,5.138266e+07,37.261125,-97.817200,121.000000,2.000000e+00,8.000000,2020-03-13 00:00:00,0.81000,2.000000,140.000000
75%,3.772624e+07,1.497179e+08,40.724038,-76.919323,201.000000,7.000000e+00,39.000000,2020-07-09 00:00:00,2.06000,6.000000,311.000000
max,4.556085e+07,3.679176e+08,47.734620,-70.995950,24999.000000,1.000000e+08,966.000000,2020-12-09 00:00:00,44.06000,593.000000,365.000000
std,1.317814e+07,9.827422e+07,6.849855,26.222091,570.353609,2.103376e+05,63.602914,NaN,1.68321,51.068966,140.179628

In [6]:
df.isnull().sum()

id                                     0
name                                  28
host_id                                0
host_name                             33
neighbourhood_group               115845
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                        48602
reviews_per_month                  48602
calculated_host_listings_count         0
availability_365                       0
city                                   0
dtype: int64

Hozzon létre egy új oszlopot a_per_minimum_stay

Számítsa ki a szükséges minimális tartózkodás teljes árát (minimum_nights), feltételezve, hogy az ároszlop jelenleg az éjszakánkénti árat jelenti. Hozzon létre egy új oszlopot price_per_minimum_stay néven, amely tárolja ezt a számított értéket minden adatlaphoz.

In [7]:
df['price_per_minimum_stay'] = df['price'] * df['minimum_nights']

Töröljön minden olyan sort, ahol az ár meghaladja az 500 USD-t

     Módosítsa az eredeti DataFrame df-et.

In [8]:
df.drop(df.loc[df['price'] > 500].index, inplace=True)

Törölje a host_name és a Neighbourhood_group oszlopokat a DataFrame df-ből

     Módosítsa az eredeti DataFrame df-et.

In [9]:
cols_delete = ['neighbourhood_group', 'host_name']
df.drop(columns=cols_delete, inplace=True)

In [ ]:
df = df.drop(['host_name', 'neighbourhood_group'], axis=1)

In [ ]:
df.drop(['host_name', 'neighbourhood_group'], axis=1, inplace=True)

Nevezze át a vélemények_száma oszlopot reviews_count értékre

In [11]:
df.rename(columns={'number_of_reviews':'reviews_count'}, inplace=True)

Konvertálja az ároszlopot egész számról lebegő adattípusra

In [12]:
df['price'] = df['price'].astype('float64')

# ?

Cserélje le a Privát szoba minden előfordulását a szoba_típus oszlopban Private-ra

In [14]:
#df['room_type'] = ['Private' if x == 'Private room' else df['room_type'] for x in df['room_type']]
df.loc[df['room_type'] == 'Private room', 'room_type'] = 'Private'

In [ ]:
df['room_type'].head(10)

In [ ]:
"""
Ebben a megoldásban a df['room_type'] == 'Privát szoba' logikai maszkot hoz létre, 
amely azonosítja azokat a sorokat, ahol a 'room_type' oszlop értéke 'Private room'. 
Ezután a df.loc[boolean_mask, 'room_type'] kiválasztja a 'room_type' oszlop 
azon részhalmazát, ahol a logikai maszk True. Végül ehhez a részhalmazhoz a 
„Privát” értéket rendeljük, gyakorlatilag a „Privát szoba” helyett a „Privát” értéket.
"""

Adjon hozzá új sort a megadott adatokkal

Adjon hozzá egy új sort a DataFrame df-hez a végén a következő részletekkel:

new_row_data = {'id': 851792795339743534, 'név': 'Tony Stark apartman', 'host_id': 67890, 'room_type': 'Teljes ház/lakás',
                 'ár': 150, 'minimum_éjszaka': 3, 'vélemények_száma': 10}

     Láthatja, hogy a szótárban átadott értékek skalárok, nem listák. Ezért, amikor adatkeretté alakítja, át kell adnia az indexszámot, és az indexet len(df)-ként kell használnia.

In [16]:
new_row_data = {'id': 851792795339743534, 'name': 'Tony Stark Apartment', 'host_id': 67890, 'room_type': 'Entire home/apt',
                'price': 150, 'minimum_nights': 3, 'reviews_count': 10}

In [ ]:
new_row = pd.DataFrame(new_row_data, index=[len(df)])
df = pd.concat([df,new_row])

Távolítsa el az elérhetőség_365 oszlopot a DataFrame-ből új DataFrame létrehozása nélkül

In [ ]:
df.drop(columns='availability_365', inplace=True)

Rendezze a DataFrame-et az ár oszlop szerint csökkenő sorrendbe

Rendezze a DataFrame df-et az ároszlop szerint csökkenő sorrendbe, és rendelje hozzá az eredményt a sorted_df-hez.

In [18]:
sorted_df = df.sort_values(by='price', ascending=False)

Az összes ár átváltása amerikai dollárról euróra

Hozzon létre egy új ár_eur oszlopot a DataFrame df-ben, amely tartalmazza az árakat euróban. Az átváltási árfolyam 1 USD = 0,85 euró.

In [19]:
df['price_eur'] = df['price'] * 0.85

Módosítsa a price_per_minimum_stay az árak megduplázásával.

Módosítsa a_per_minimum_stay oszlopot az árak megduplázásával. Például, ha a price_per_minimum_stay oszlop 50 értéket tartalmaz, akkor azt 100-ra kell módosítani.

     Módosítsa az eredeti DataFrame df-et.

In [20]:
df['price_per_minimum_stay'] = df['price_per_minimum_stay'] * 2

Hozzon létre egy év nevű új oszlopot, amely tartalmazza a last_review oszlop évadatait

Hozzon létre egy új oszlopévet a DataFrame df-ben, amely tartalmazza a last_review oszlop évadatait. Például, ha a last_review oszlop tartalmazza a dátumot: 2019-05-21, akkor az év oszlopban a 2019 értéket kell tartalmaznia. A dt hozzáférővel érheti el egy oszlop dátum-idő tulajdonságait. Például a df['last_review'].dt.year az év adatait adja vissza az utolsó_áttekintés oszlopból.

In [22]:
df['year'] = df['last_review'].dt.year