In [1]:
import pandas as pd, random as rd
basepath = r'..\..\source\dictionary'
inputfile = r'\enable1.txt'
outfile = r'\words.csv'
outpath = r'D:\DataWars\practice\001_working_with_words'
df = pd.read_csv(basepath + inputfile)
df.head()

     Word
0      aa
1     aah
2   aahed
3  aahing
4    aahs

In [56]:
df['Char Count'] = df['Word'].str.len()
df['Char Count'] = pd.to_numeric(df['Char Count'], errors='coerce')
df['Char Count'] = df['Char Count'].astype(dtype='int32', errors='ignore')
df.head()

     Word  Char Count
0      aa         2.0
1     aah         3.0
2   aahed         5.0
3  aahing         6.0
4    aahs         4.0

In [57]:
def calc_value(word):
    return_value = 0
    letters = 'abcdefghijklmnopqrstuvwxyz'
    if isinstance(word, str): # nan esetén a típus float, ez okozhat hibát, mert nem iterálható a for-al
        for char in word:
            return_value += (letters.find(char) + 1)
    else:
        return 0
    
    return return_value

def make_list(df: pd.DataFrame) ->list:
    import pandas as pd
    return_list = []
    for i in range(len(df)):
        return_list.append(calc_value(df.loc[i, 'Word']))
    return return_list

value_list = make_list(df)
#print(len(value_list))

In [58]:
df['Values'] = value_list

##### Hány elem van a df-ben?

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172823 entries, 0 to 172822
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Word        172821 non-null  object
 1   Char Count  172821 non-null  float64
 2   Values      172823 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.0+ MB

In [60]:
print(df.shape)

(172823, 3)

##### What is the value of the word microspectrophotometries ?

In [65]:
df.loc[df['Word'] == 'microspectrophotometries']

                           Word  Char Count  Values
91369  microspectrophotometries        24.0     317

##### Melyik a legnagyobb értékű szó

In [64]:
df['Values'].max()
df.describe()

          Char Count         Values
count  172821.000000  172823.000000
mean        9.087628     107.752932
std         2.818285      39.318933
min         2.000000       0.000000
25%         7.000000      80.000000
50%         9.000000     103.000000
75%        11.000000     131.000000
max        28.000000     319.000000

Which of the following words have a Char Count of 7 and a Value of 87 ?

<ol>
    <li>pinfish</li>
    <li>microbrew</li>
    <li>superheterodyne</li>
    <li>enfold</li>
    <li>glowing</li>
</ol>

In [66]:
wlist = ['pinfish', 'microbrew', 'superheterodyne', 'enfold', 'glowing']
df.loc[df['Word'].isin(wlist)]

                   Word  Char Count  Values
48842            enfold         6.0      56
62695           glowing         7.0      87
91028         microbrew         9.0     106
112844          pinfish         7.0      81
149366  superheterodyne        15.0     198

##### Melyik a legnagyobb érték?

In [68]:
df.describe()

          Char Count         Values
count  172821.000000  172823.000000
mean        9.087628     107.752932
std         2.818285      39.318933
min         2.000000       0.000000
25%         7.000000      80.000000
50%         9.000000     103.000000
75%        11.000000     131.000000
max        28.000000     319.000000

In [71]:
df.loc[df['Char Count'].max()]

Word          abaft
Char Count      5.0
Values           30
Name: 28, dtype: object

Keresd meg a 319 értékhez tartozó szót.

In [72]:
df.loc[df['Values'] == 319]

                           Word  Char Count  Values
126623  reinstitutionalizations        23.0     319

In [76]:
df.sort_values(by=['Values'], ascending=False)

                             Word  Char Count  Values
126623    reinstitutionalizations        23.0     319
91369    microspectrophotometries        24.0     317
91370      microspectrophotometry        22.0     309
91367     microspectrophotometers        23.0     308
72762   immunoelectrophoretically        25.0     307
...                           ...         ...     ...
19                             ab         2.0       3
10456                          ba         2.0       3
0                              aa         2.0       2
96714                         NaN         NaN       0
100730                        NaN         NaN       0

[172823 rows x 3 columns]

In [77]:
(df['Values'] == 319)

0         False
1         False
2         False
3         False
4         False
          ...
172818    False
172819    False
172820    False
172821    False
172822    False
Name: Values, Length: 172823, dtype: bool

Melyik a leggyakoribb érték?

In [79]:
df['Values'].describe()

count    172823.000000
mean        107.752932
std          39.318933
min           0.000000
25%          80.000000
50%         103.000000
75%         131.000000
max         319.000000
Name: Values, dtype: float64

In [80]:
df['Values'].mode()

0    93
Name: Values, dtype: int64

In [81]:
df['Values'].value_counts().head()

Values
93     1965
100    1921
95     1915
99     1907
92     1902
Name: count, dtype: int64

In [83]:
df.loc[df['Values'] == 93].sample(10)
# a sample egy véletlenszerűen kiválasztott listát ad vissza

              Word  Char Count  Values
18203     brockets         8.0      93
82483   landholder        10.0      93
33842    crenelles         9.0      93
37566    deductive         9.0      93
3555      aliments         8.0      93
105042    overbold         8.0      93
63810     granites         8.0      93
109745     penalty         7.0      93
101471     occults         7.0      93
172675    zoogleal         8.0      93

Melyik a legrövidebb szó 274 értékkel

In [87]:
df.loc[df['Values'] == 274].sort_values(by=['Char Count'], ascending=True).head(1)

                        Word  Char Count  Values
106061  overprotectivenesses        20.0     274

In [86]:
df.loc[df['Values'] == 274, 'Char Count'].min()

20.0

In [89]:
df.loc[
    (df['Values'] == 274) &
    (df['Char Count'] == df.loc[df['Values'] == 274, 'Char Count'].min())
]

                        Word  Char Count  Values
106061  overprotectivenesses        20.0     274

Create a column Ratio which represents the 'Value Ratio' of a word

The "Value Ratio" of a word is defined as the Value of a word divided by its length. \
That is: ValueRatio(word) = Value(word) / len(word).\
Create a new column in your DataFrame named Ratio that contains such computation.

In [100]:
df['Ratio'] = df['Values'] / df['Char Count']

df.head()

     Word  Char Count  Values     Ratio
0      aa         2.0       2  1.000000
1     aah         3.0      10  3.333333
2   aahed         5.0      19  3.800000
3  aahing         6.0      40  6.666667
4    aahs         4.0      29  7.250000

In [101]:
#df = df.drop(columns=['Value Ratio'])
#df.head()

Mi a Ratio legnagyobb értéke?

In [102]:
df['Ratio'].max()

22.5

Melyik szónak van a legnagyobb Ratio értéke?

In [103]:
df.loc[df['Ratio'] == df['Ratio'].max()]

       Word  Char Count  Values  Ratio
171699   xu         2.0      45   22.5

In [104]:
df.sort_values(by=['Ratio'], ascending=False).head()

         Word  Char Count  Values      Ratio
171699     xu         2.0      45  22.500000
96302   muzzy         5.0     111  22.200000
171556    wry         3.0      66  22.000000
171736   xyst         4.0      88  22.000000
121385    pyx         3.0      65  21.666667

Hány szónak van 10 Ratioja?

In [106]:
df.loc[df['Ratio'] == 10].count()

Word          2604
Char Count    2604
Values        2604
Ratio         2604
dtype: int64

Melyik a legnagyobb érték a 10 Ratióból?

In [110]:
df.loc[df['Ratio'] == 10, 'Char Count'].max()
df.loc[
    (df['Ratio'] == 10) &
    (df['Char Count'] == df.loc[df['Ratio'] == 10, 'Char Count'].max())
]

                           Word  Char Count  Values  Ratio
47199  electrocardiographically        24.0     240   10.0
47242  electroencephalographies        24.0     240   10.0

In [112]:
df.query(
    'Ratio == 10'     
).sort_values(by=['Values'], ascending=False)

                            Word  Char Count  Values  Ratio
47199   electrocardiographically        24.0     240   10.0
47242   electroencephalographies        24.0     240   10.0
47238    electroencephalographer        23.0     230   10.0
111564        phonocardiographic        18.0     180   10.0
73981         inconceivabilities        18.0     180   10.0
...                          ...         ...     ...    ...
169063                       web         3.0      30   10.0
18772                        bug         3.0      30   10.0
47517                        elm         3.0      30   10.0
8452                          as         2.0      20   10.0
101719                        oe         2.0      20   10.0

[2604 rows x 4 columns]

A 260 értékű szavakból melyik a legrövidebb?

In [121]:
df.loc[df['Values'] == 260, 'Char Count'].min()

17.0

In [120]:
df.query("Values == 260").sort_values(by=['Char Count'])

                        Word  Char Count  Values      Ratio
71128      hydroxytryptamine        17.0     260  15.294118
97849     neuropsychologists        18.0     260  14.444444
120242    psychophysiologist        18.0     260  14.444444
130012   revolutionarinesses        19.0     260  13.684211
32775   countermobilizations        20.0     260  13.000000
161735  underrepresentations        20.0     260  13.000000

Keresd meg azokat a szavakat, amelyek hossza > az átlag hosszától.

In [128]:
char_count_mean = df['Char Count'].mean()
# ha szóköz van az oszlopnévben akkor `` közé kell tenni a queryben.
df.query(
    "`Char Count` > 9"
)

df.loc[df['Char Count'] > char_count_mean]

                Word  Char Count  Values      Ratio
12        aardwolves        10.0     120  12.000000
25        abacterial        10.0      72   7.200000
40        abandoners        10.0      93   9.300000
41        abandoning        10.0      81   8.100000
42       abandonment        11.0     103   9.363636
...              ...         ...     ...        ...
172788  zygomorphies        12.0     176  14.666667
172789    zygomorphy        10.0     168  16.800000
172793    zygosities        10.0     154  15.400000
172796    zygospores        10.0     165  16.500000
172812    zymologies        10.0     146  14.600000

[67582 rows x 4 columns]

In [129]:
# vátozónév behivatkozása a querybe
df.query(
    "`Char Count` > @char_count_mean"
)

                Word  Char Count  Values      Ratio
12        aardwolves        10.0     120  12.000000
25        abacterial        10.0      72   7.200000
40        abandoners        10.0      93   9.300000
41        abandoning        10.0      81   8.100000
42       abandonment        11.0     103   9.363636
...              ...         ...     ...        ...
172788  zygomorphies        12.0     176  14.666667
172789    zygomorphy        10.0     168  16.800000
172793    zygosities        10.0     154  15.400000
172796    zygospores        10.0     165  16.500000
172812    zymologies        10.0     146  14.600000

[67582 rows x 4 columns]