#### Bevezetés

Ebben a laborban belemerülhet az adatelemzés és -szűrés világába az egyik legerősebb Python-könyvtár, a Pandas segítségével. Valós adatkészlettel fog dolgozni, amely információkat tartalmaz a videojáték-eladásokról. Ez az adatkészlet szolgál majd alapul a Pandas által kínált különféle funkciók és szűrési technikák feltárásához.

Az adatkészlet értékes betekintést nyújt a játékiparba, beleértve a játékok rangsorának, platformjainak, megjelenési éveinek, műfajainak, kiadóinak és értékesítésének részleteit a különböző régiókban. Az adatok elemzésével megtudhatja, hogyan hajthat végre szűrési és kiválasztási műveleteket a Pandas DataFrame segítségével, különös tekintettel a két kulcstechnikára: .loc[] és .query().

Az adatkészlet oszlopaival kapcsolatos információk az alábbiakban találhatók:

     Rang: A játék rangsorolása az eladások alapján.
     Név: A játék neve.
     Platform: Az a platform, amelyen a játék megjelent (pl. Wii, NES, GB, DS, X360, PS3, PS2).
     Év: A játék megjelenésének éve.
     Műfaj: A játék műfaja vagy kategóriája (pl. Sport, Platform, Verseny, Szerepjáték, Rejtvény, Egyéb, Shooter, Szimuláció, Akció).
     Kiadó: A játék kiadásáért felelős kiadó vagy cég.
     NA_Sales: Értékesítés Észak-Amerikában (millió darabban).
     EU_Sales: Értékesítés Európában (millió darabban).
     JP_Sales: Értékesítés Japánban (millió darabban).
     Other_Sales: Értékesítés más régiókban (millió egységben).
     Global_Sales: Teljes globális értékesítés (az értékesítések összege az összes régióban) millió darabban.

A gyakorlati gyakorlatok és a kódolási feladatok elvégzésével alaposan megértheti, hogyan lehet hatékonyan kinyerni, szűrni és kiválasztani az adatokat a Pandas DataFrames-ből. Megszerzi azokat a készségeket, amelyek az adatok elemzéséhez, a megalapozott döntések meghozatalához és a valós adatkészletekből való értelmes betekintéshez szükségesek.

Készüljön fel egy izgalmas utazásra az adatkezelés és -elemzés világába a Pandákkal. Merüljünk el, és fedezzük fel a videojáték-eladási adatok lenyűgöző birodalmát!

In [34]:
import pandas as pd
source = r'https://raw.githubusercontent.com/raghav-19/Video-Games-Sales-Data-Analysis/master/vgsales.csv'
df = pd.read_csv(source)
df['Rank'] = (df['Global_Sales'].rank(method='dense')) 
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rank
0,Kaboom!,2600,1980.0,Misc,Activision,1.07,0.07,0.0,0.01,1.15,115.0
1,Boxing,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77,77.0
2,Ice Hockey,2600,1980.0,Sports,Activision,0.46,0.03,0.0,0.01,0.49,49.0
3,Freeway,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34,34.0
4,Bridge,2600,1980.0,Misc,Activision,0.25,0.02,0.0,0.00,0.27,27.0

In [33]:
df.tail()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rank
16534,LEGO Harry Potter: Years 5-7,PC,NaN,Action,Warner Bros. Interactive Entertainment,0.05,0.14,0.0,0.03,0.22,1.0
16535,Happy Feet Two,DS,NaN,Action,Warner Bros. Interactive Entertainment,0.09,0.02,0.0,0.01,0.12,1.0
16536,Happy Feet Two,PS3,NaN,Action,Warner Bros. Interactive Entertainment,0.09,0.01,0.0,0.01,0.10,1.0
16537,Happy Feet Two,X360,NaN,Action,Warner Bros. Interactive Entertainment,0.08,0.01,0.0,0.01,0.10,1.0
16538,Happy Feet Two,Wii,NaN,Action,Warner Bros. Interactive Entertainment,0.07,0.01,0.0,0.01,0.09,1.0

Szűrje le a DataFrame df-et, hogy csak a Sports műfajú játékokat tartalmazza, és az eredményt rendelje hozzá a sports_df-hez.

In [ ]:
sports_df = df.loc[df['Genre'] == 'Sports']

Szűrje le az adatkészletet olyan játékok lekéréséhez, amelyek eladásai meghaladnak egy bizonyos küszöbértéket Észak-Amerikában

Szűrje le a DataFrame df-et, hogy csak olyan játékok szerepeljenek benne, amelyek eladása meghaladja az 1 milliót Észak-Amerikában, és rendelje hozzá az eredményt a na_sales_df-hez.

In [ ]:
na_sales_df = df.loc[df['NA_Sales'] > 1]

Lekérheti az adott évben egy adott platformon kiadott játékokat

Töltse le a PS2 platformon 2005-ben kiadott játékokat, és rendelje hozzá az eredményt a ps2_2005_df-hez.

In [ ]:
ps2_2005_df = df.loc[(df['Platform'] == 'PS2') & (df['Year'] == 2005)]

A játékok szűrése globális értékesítési tartomány szerint

Szűrje le a DataFrame df-et úgy, hogy csak a 20,0 és 30,0 millió közötti globális értékesítésű játékokat tartalmazza (mindkettőt beleértve), és rendelje hozzá az eredményt a global_sales_df-hez.

In [ ]:
global_sales_df = df.loc[(df['Global_Sales'] >= 20) & (df['Global_Sales'] <= 30)]

A játékok szűrése kiadó és műfaj szerint

Szűrje le a DataFrame df-et, hogy csak a Nintendo által közzétett és az Action műfajú játékokat tartalmazza, és az eredményt rendelje hozzá a nintendo_action_df-hez.

In [ ]:
nintendo_action_df = df.loc[(df['Publisher'] == 'Nintendo') & (df['Genre'] == 'Action')]

Több műfajhoz tartozó játékok letöltése

Szerezze be az Action vagy Sports műfajokhoz tartozó összes játékot, és rendelje hozzá az eredményt az action_sports_df-hez.

In [ ]:
action_sports_df = df.loc[(df['Genre'] == 'Sports') | (df['Genre'] == 'Action')]

Válassza ki a játékokat az adatkészletből több kritérium, például platform, műfaj és értékesítés alapján

Szerezd meg az Action és Sports műfajokhoz tartozó és a PS2 platformon megjelent összes játékot 5,0 és 30,0 millió közötti globális eladással, és rendeld hozzá az eredményt a ps2_action_sports_df-hez.

In [ ]:
ps2_action_sports_df = df.loc[((df['Genre'] == 'Sports') | (df['Genre'] == 'Action')) & 
                              (df['Platform'] == 'PS2') & (df['Global_Sales'] >= 5) & (df['Global_Sales'] <= 30)]

In [ ]:
platform_filter = df['Platform'] == 'PS2'
genre_filter = df['Genre'].isin(['Action', 'Sports'])
sales_filter = (df['Global_Sales'] >= 5.0) & (df['Global_Sales'] <= 30.0)
ps2_action_sports_df = df.loc[platform_filter & genre_filter & sales_filter]

A játékok szűrése globális értékesítési tartomány szerint

Szűrje le a DataFrame df-et, hogy csak az 5,0 és 30,0 millió közötti globális értékesítésű játékokat tartalmazza (mindkettőt beleértve), és rendelje hozzá az eredményt a filtered_query_df-hez.

In [ ]:
filtered_query_df = df.loc[(df['Global_Sales'] >= 5) & (df['Global_Sales'] <= 30)]

A játékok szűrése platform és globális értékesítés szerint

Szűrje le a DataFrame df-et, hogy csak a PS2 platformon megjelent, 5,0 milliónál nagyobb globális értékesítési értékű játékokat tartalmazza, és rendelje hozzá az eredményt a query_ps2_df-hez.

In [ ]:
query_ps2_df = df.loc[(df['Global_Sales'] >= 5) & (df['Platform'] == 'PS2')]

Sorok és oszlopok szűrése a 2000 után megjelent játékokhoz

Szűrje az adatkészletet a 2000 után kiadott játékokra, amelyek globális értékesítési értéke meghaladja az 5,0 milliót, de csak a Név, Platform, Év és Global_Sales oszlopokat tartalmazza, és rendelje hozzá az eredményt a query_rows_cols_df értékhez.

In [ ]:
query_rows_cols_df = df.loc[(df['Year'] > 2000) & (df['Global_Sales'] > 5)][['Name', 'Platform', 'Year', 'Global_Sales']]

Szűrje le az adatkészletet PS4 vagy NES platformmal rendelkező játékokra, és csak a Név, NA_Sales és EU_Sales oszlopokat jelenítse meg

Szűrje le az adatkészletet úgy, hogy a PS4 vagy NES platformmal rendelkező játékokat is tartalmazza, és csak a Név, NA_Sales és EU_Sales oszlopokat jelenítse meg, és rendelje hozzá az eredményt a query_rows_cols_df2 értékhez.

In [ ]:
query_rows_cols_df2 = df.loc[(df['Platform'] == 'NES') | (df['Platform'] == 'PS4')][['Name', 'NA_Sales', 'EU_Sales']]

Szerezze meg a 10 legjobb játék eladási adatait (minden régióban).

Szerezze meg a 10 legjobb játék eladási adatait (minden régió), és rendelje hozzá az eredményt a top10_df-hez. A DataFrame csak a Név, NA_Sales, EU_Sales, JP_Sales, Other_Sales és Global_Sales oszlopokat tartalmazza.

In [ ]:
# Try your code here
top10_df = df.loc[df['Rank'].isin([1,2,3,4,5,6,7,8,9,10])][['Name', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]

Számítsa ki az átlagos eladásokat Észak-Amerikában (NA_Sales) az Action műfajhoz

In [ ]:
df.loc[df['Genre'] == 'Action']['NA_Sales'].mean()

Keresse meg azt a műfajt, amely a legtöbbet értékesítette Japánban (JP_Sales)

Írja le a választ karakterláncként! Például, ha a válasz Action, írja be az Action szót.

In [ ]:
df.loc[df['JP_Sales'] == df['JP_Sales'].max()]['Genre']

In [ ]:
total_sales_per_genre = df.groupby('Genre')['JP_Sales'].sum()
genre_with_highest_sales = total_sales_per_genre.idxmax()
genre_with_highest_sales

Határozza meg az Electronic Arts által kiadott játékok átlagos európai eladásait (EU_Sales).

In [ ]:
df.loc[df['Publisher'] == 'Electronic Arts']['EU_Sales'].mean()

Keresse meg a 2005 és 2010 között (beleértve) kiadott összes játékot több feltétellel

Keresse meg az összes 2005 és 2010 között (beleértve) kiadott játékokat, amelyek az Action műfajhoz tartoznak, és amelyek összértéke meghaladja az 5 milliót. Rendelje hozzá az eredményt a games_2005_2010-hez.

In [ ]:
# Try your code here
games_2005_2010 = df.loc[(df['Year'] >= 2005) & (df['Year'] <= 2010) & (df['Global_Sales'] > 5) & (df['Genre'] == 'Action')]

Keresse meg a 10 legjobb játékot több szűrővel

Keresse meg a 10 legjobb játékot, amelyek Észak-Amerikában a legtöbbet értékesítették (NA_Sales) a 2010 után kiadott Shooter műfaj közül. Rendelje hozzá az eredményt a top_10_shooter_2010-hez. Az eredménynek a következő oszlopokat kell tartalmaznia a megadott sorrendben: Név, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales.

In [ ]:
# Try your code here
top_10_shooter_2010 = df.query('Year > 2010 and Genre == "Shooter"').sort_values('NA_Sales', ascending=False).head(10)[['Name', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]

In [ ]:
top_10_shooter_2010 = df.loc[(df['Year'] > 2010) & (df['Genre'] == 'Shooter')].sort_values('NA_Sales', ascending=False).head(10)[['Name', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]